:root {
  --color: #ffffff;
  --primary-text-color: #757575;
  --header-color: #212121;
  --accent-color: #2196f3;
}

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.section-hero {
  background: #2f303a;
}

.section-hero .hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

ul {
  list-style: none;
}

.main-nav .color-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.current:hover,
:focus {
  color: #2196f3;
  cursor: pointer;
}

.main-nav .link.current {
  color: #2196f3;
}

.main-nav .color-logo:hover,
:focus {
  color: #2196f3;
  cursor: pointer;
}

.main-nav .contacts:hover,
:focus {
  color: #2196f3;
  cursor: pointer;
}

.nav.main-nav-list:hover,
:focus {
  color: #2196f3;
}

.main-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}

.section-hero .hero {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button:hover,
:focus {
  font-family: inherit;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  
}

button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.portfolio-nav .button {
  box-sizing: border-box;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.peculiarities .peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.peculiarities .peculiarities-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-work .section-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: background: rgba(217, 217, 217, 1);

}

.section-comand {
  background: #f5f4fa;
}

.section-comand .section-comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-comand .section-comand-image-first,
.section-comand-image-second,
.section-comand-image-trird,
.section-comand-image-fourth {
  background: #ffffff;
}

.section-comand .section-comand-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-comand .section-comand-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}



.demonstration-title {
  font-weight: 700;
  font-size: 2;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.demonstration-text {
  font-weight: 400;
  font-size: 1.9;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}


.footer {
  background: #2f303a;
  color: #ffffff;
  text-decoration: none;
}

.color-studio {
  color: rgba(255, 255, 255, 1);
}

.color-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer:hover,
focus {
  color: #2196f3;
}

.footer .footer-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .footer-adress:focus,
:hover {
  color: #2196f3;
}

.footer .footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #000000;
}

.footer .footer-mail:focus,
:hover {
  color: #2196f3;
}

.footer .footer-telephone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #000000;
}

.footer .footer-telephone:focus,
:hover {
  color: #2196f3;
}