:root {
    --primary-text-color: #757575 --header-color: #212121 --primary-background-color:#ffffff
}


.page-header>.main-nav-list:hover,
focus {color: #2196F3} 
.header>.main-nav-list:hover,
focus {color: #2196F3}

.button:hover, focus {color:#F5F4FA }
.logo: {Font family: Raleway
Font-style: Bold
Font-size: 26px
Line-height: 31px
Line-height: 100%
Align: Left
Vertical-align: Top
Letter-spacing: 3%}

.mail:hover,
focus color: {#2196F3} 

.portfolio-button: {Font style: Medium
Font-size: 16px
Line-height: 26px
Line-height: 1,6px
Align:-Center
Vertical-align: Top
Letter-spacing: 3%}

body {
    color: var(primary-background-color);
    font-family: Roboto
}

.hero: {Font style: Black
Font-size: 44px
Line-height: 60px
Line-height: 1,9px
Align:-Center
Vertical-align: Top
Letter-spacing: 6%}

.button:Font-family: {
    Roboto Font style: Black Font size: 44px Line height: 60px Line height: 116% Align: Center Vertical align: Top Letter-spacing: 6
}


.peculiarities-title:
{Font style: 700
Font-size: 14px
Line-height: 16px
Line -eight: 1,1px
Align: Left
Vertical-align: Top
Letter-spacing: 3%}

.peculiarities-text: {Font style: 700
Font-size: 14px
Line-height: 16px
Line-height: 1,1px
Align: Left
Vertical-align: Top
Letter-spacing: 3%}

.section-work section-work-title:
{Font-style: Bold
Font-size: 36px
Line-height: 42px
Line-height: 1,2px
Align: Center
Vertical-align: Top
Letter-spacing: 3%}

.demonstration-title: {Font style: Bold
Font-size: 18px
Line-height: 36px
Line-height: 2
Align: Left
Vertical-align: Top
Letter-spacing: 6%}

.demonstration-text:{Font style: Regular
Font-size: 16px
Line-height: 30px
Line-height: 160%
Align: Left
Vertical-align: Top
Letter-spacing: 3%}
 
.footer:hover, focus {color: #2196F3
Font-style: Regular
Font-size: 14px
Line-height: 24px
Line-height: 1,7px
Align: Left
Vertical-align: Top
Letter-spacing: 3%}

